* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

:root {
    --primary-color: #F7346F;
    --dark-primary-color: #F61B5E;
    --success-color: #4877F8;
    --dark-success-color: #0D748A;
    --info-color: #1EDB4C;
    --dark-info-color: #1BC544;
    --warn-color: #FFAB1D;
    --dark-warn-color: #FFA203;
    --second-primary: #0d8bcd;
    --alert-color: #f14668;
    --dark-alert-color: #EF2E55;
    /* --light-primary:; */
}

.btn {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border-radius: 3px;
    border: 1px solid;
    outline: none;
}

.btn-success {
    color: white;
    background-color: var(--success-color);
}

.btn-info {
    color: white;
    background-color: var(--info-color);
}

.btn-warn {
    color: white;
    background-color: var(--warn-color);
}

.btn-alert {
    color: white;
    background-color: var(--alert-color);
}

.btn-small {
    padding: 5px 15px;
}

.btn-medium {
    padding: 10px 20px;
}

.btn-large {
    padding: 15px 25px;
}

.btn-outline {
    border: 1px solid white;
    outline: none;
}

.btn-outline-primary {
    background-color: white;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    outline: none;
}


/* .btn-outline-primary:hover {
    color: var(--dark-primary);
    border: 1px solid var(--dark-primary);
} */

.btn-outline-success {
    background-color: white;
    color: var(--success-color);
    border: 1px solid var(--success-color);
    outline: none;
}


/* .btn-outline-success:hover {
    color: var(--dark-primary);
    border: 1px solid var(--dark-primary);
} */

.btn-outline-info {
    background-color: white;
    color: var(--info-color);
    border: 1px solid var(--info-color);
    outline: none;
}

.btn-outline-warn {
    background-color: white;
    color: var(--warn-color);
    border: 1px solid var(--warn-color);
    outline: none;
}

.btn-outline-alert {
    background-color: white;
    color: var(--alert-color);
    border: 1px solid var(--alert-color);
    outline: none;
}

.is-rounded {
    border-radius: 290486px;
    padding-left: calc(calc(.75em - 1px) + .375em);
    padding-right: calc(calc(.75em - 1px) + .375em);
}


/* Popup */

.modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
}

.modal-content {
    max-width: 80%;
    max-height: 90%;
    min-width: 50%;
    border-radius: 3px;
    padding: 20px;
    background-color: white;
}

#input input {
    margin-bottom: 20px;
}

.input {
    width: 100%;
    outline: none;
    border: 1px solid #ddd;
    padding: 7px 11px;
    border-radius: 3px;
}

.input-primary {
    border: 1px solid var(--primary-color);
}

.input-success {
    border: 1px solid var(--success-color);
}

.input-info {
    border: 1px solid var(--info-color);
}

.input-alert {
    border: 1px solid var(--alert-color);
}

.input-warn {
    border: 1px solid var(--warn-color);
}

.input-small {
    padding: 5px 8px;
}

.input-medium {
    padding: 9px 14px;
}

.input-large {
    padding: 11px 17px;
}


/* Input Bo tròn */

.input-rounded {
    border-radius: 290486px;
    padding-left: calc(calc(.75em - 1px) + .375em);
    padding-right: calc(calc(.75em - 1px) + .375em);
}


/* Thông báo */

.notification {
    padding: 20px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
    text-align: center;
}

.notification-success {
    background-color: var(--success-color);
}

.notification-info {
    background-color: var(--info-color);
}

.notification-alert {
    background-color: var(--alert-color);
}

.notification-warn {
    background-color: var(--warn-color);
}